{% extends "skeleton.html" %}

{% block css %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}

{% block js %}
{{ super() }}
{% endblock %}

{% block content %}
<div id="content">
    <h1>Current Featured Game Odds</h1>

    {% for game in currentGameOdds['games'] recursive %}
    <div class="game">
        {% for summoner in game['summoners'] recursive %}
        <span>{{ summoner['name'] }}</span>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block onLoadScripts %}

{% endblock %}