// Base colours
$bodyBackgroundColour:				#000000;
$headerAndFooterBackgroundColour: 	#2d4348;
$headingColour: 					#CCCCCC;
$footerColour:						#AAAAAA;
$footerStatementColour:				#dd4348;
$contentBackgroundColour:			#dd4348;
$contentColour:						#FFFFFF;

// Error colours
$errorHeadingColour: 				#4fbfb6;

// Sizes //
$size-mobile:	680px;
$size-tablet:	$size-mobile + 1px;
$size-desktop:	960px;
$size-large:	1400px;