@import '_variables';

#content {
	background-color: $contentBackgroundColour;
	color: $contentColour;
	padding: 10px 10%;
	overflow: auto;

	@media(max-width: $size-mobile) {
		padding: 10px;
	}

	.game {
		clear: both;

		padding: 10px 0;

		.gameSummary {
			background-color: $headerAndFooterBackgroundColour;
			padding: 5px;
		}

		.team, .odds, .summoner {
			float: left;
		}

		.team {
			padding-right: 5px;

			.teamSummary {
				padding: 5px;
			}
		}

		.summoner {
			font-size: 0.5rem;
			text-align: center;
		}

		.odds {
			font-weight: bold;
			font-size: 1.75rem;
			letter-spacing: 0.08rem;

			width: 140px;
			text-align: center;

			@media(max-width: $size-mobile) {
				font-size: 1.25rem;
				width: 100px;
			}
		}
	}
}